body{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
}
#main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
table {
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 400px;
}
